@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
body {
  background-color: #e9dcc7;
  font-family: "Play", sans-serif;
}
.container {
  width: 100%;
}
.packages {
  margin: 20px;
  width: 300px;
  padding-bottom: 1.5em;
  height: 100%;
  background-color: #3b3b38;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 19px 38px rgba(30, 35, 33, 1), 0 15px 12px rgba(30, 35, 33, 0.2);
  flex-wrap: wrap;
  color: #e4efe5;
}
h1,
h2 {
  font-size: 2.2em;
}
.list li {
  font-size: 20px;
  list-style: none;
  border-bottom: 1px solid #f4f4f4;
  padding-inline-start: 0;
  border-width: 1px;
  padding: 10px;
}
.first {
  margin-top: 40px;
  border-top: 1px solid #f4f4f4;
}
.list {
  width: 80%;
}
ol,
ul {
  padding: 0;
}
.top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
input,
label {
  display: inline-block;
  vertical-align: middle;
  margin: 10px 0;
}
.button {
  padding: 10px 30px;
  text-decoration: none;
  font-size: 1.4em;
  margin: 15px 15px;
  border-radius: 50px;
  color: #f4f4f4;
  transition: all 0.3s ease 0s;
}
.button:hover {
  transform: scale(1.2);
}
.button1 {
  background-color: #0e00cc;
  box-shadow: 0 0 10px 0 #3cb53e inset, 0 0 20px 2px  #3cb53e;
}
.button2 {
  background-color: #d02411;
  box-shadow: 0 0 10px 0 #ff007c inset, 0 0 20px 2px #ff007c;
}
.button3 {
  background-color:  #e446b2;
  box-shadow: 0 0 10px 0 #ce1616 inset, 0 0 20px 2px  #ce1616;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1e2321;
  -webkit-transition: 0.4s;
  box-shadow: 2px 6px 25px #1e2321;
  transform: translate(0px, 0px);
  transition: 0.6s ease transform, 0.6s box-shadow;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #7e939b;
}
input:focus + .slider {
  box-shadow: 0 0 1px #7eaad5;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.package-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.currency-selector {
  margin-bottom: 20px;
  margin: aut;
  text-align: right;
  background-color: #656563;
  text-decoration: none;
}
label {
  font-weight: bold;
  margin-right: 10px;
  color: #ccc;
}
select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #bc7b99;
  border-radius: 4px;
  cursor: pointer;
}
select:hover,
select:focus {
  border-color: #555;
}


.faq-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    text-align: left;
}

.faq-container h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

.faq-item {
    margin-bottom: 10px;
    color: #282020;
}

.faq-question {
    width: 100%;
    background: #040224;
    color: #f4f4f4;
    border: none;
    padding: 15px;
    text-align: left;
    font-size: 1.2em;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 10px;
}

.faq-icon {
    font-size: 1.5em;
    transition: transform 0.3s;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
    padding: 0 15px;
    background: #040224;
    color: #f4f4f4;
    border-radius: 10px;
    margin-bottom: 15px
}

.faq-answer p {
    padding: 15px 0;
    margin: 0;
}

.faq-item.active .faq-answer {
    max-height: 200px;
}

.faq-item.active .faq-icon {
    transform: rotate(45deg);
}


@media (max-width: 600px) {
    .faq-container {
        width: 90%;
    }

    .faq-question {
        font-size: 1em;
        padding: 10px;
    }

    .faq-icon {
        font-size: 1.2em;
    }
}

.footer {
    background-color: black; 
    border-radius: 4px;
    color: white;
    text-align: center;
    padding: 15px 0; 
    font-size: 1em; 
    width: 100%; 
    position: relative;
    bottom: 0;
}

@media (max-width: 600px) {
    .footer {
        font-size: 0.9em; 
        padding: 10px 0; 
    }
}
